body {
    background-image: url(../imagenes/pi.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    input {
        background: darkviolet;
        color: white;
        text-align: center;
    }
}

#resultados {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    border: solid 1px white;
    background: darkorchid;
    padding: 16px;
}

.operation-buttons1 {
    display: flex;
    margin-top: 5px;
    margin-left: 17px;

}

#clear-button {
    margin-left: 15px;
    background: greenyellow;

}

